<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
      .
      Original Theme by <a href="https://github.com/sun11/hexo-theme-paperbox" target="_blank">Paperbox</a>
      Forked and edited by site author at <a href="https://github.com/OdinsHat/hexo-theme-paperbox">this repo</a>.
    </div>
  </div>
  <script src="https://www.dwin2.com/pub.79943.min.js"></script>
</footer>
