<!DOCTYPE html>
<html>

<head>
    <%- partial('google-analytics') %>
        <%- partial('google-tag-manager1') %>
            <%- partial('hotjar') %>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
                <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <!-- production version, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=5Ae3rkl2nM">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=5Ae3rkl2nM">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=5Ae3rkl2nM">
  <link rel="manifest" href="/manifest.json?v=5Ae3rkl2nM">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=5Ae3rkl2nM" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico?v=5Ae3rkl2nM">
  <meta name="apple-mobile-web-app-title" content="DougBromley.com">
  <meta name="application-name" content="DougBromley.com">
  <meta name="theme-color" content="#ffffff">
  
  <%- css('css/style') %>
  <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <%- partial('block') %>
</head>
